@charset "UTF-8";

* {
	font-family: 'Roboto Mono', monospace;
}

html, body, #main {
	min-height: 100vh;
}

h1 {
	font-size: 1.75em;
}

.jumbotron {
	width:100%;
	background-color: rgb(6,27,44);
}

label {
	color: white;
}

@media only screen and (min-width: 768px) {
	h1 {
		font-size: 2.5em;
	}
}

@media only screen and (min-width: 1200px) {
	* {
		font-size: 105%;
	}
}